<div class="card ">
    <div class="card-header">
      <h3 class="card-title">Crear gerente</h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
        <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button> -->
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <form>
        <div class="row">
            <div class="col-sm-2">
                <!-- select -->
                <div class="form-group">
                  <select class="form-control">
                    <option value="">-Code-</option>
                    <option>100</option>
                    <option>200</option>
                    <option>300</option>
                    <option>400</option>
                  </select>
                </div>
              </div>
          <div class="col-sm-5">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nombre del gerente">
            </div>
          </div>
          <div class="col-sm-5">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Gerencia">
            </div>
          </div>
  
        </div>
  
      </form>
    </div>
    <!-- /.card-body -->
  </div>
  
  <!--Table-->
  <div class="card">
    <div class="card-header border-transparent">
      <h3 class="card-title">Gerentes</h3>
  
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
        <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
            <i class="fas fa-times"></i>
          </button> -->
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table m-0">
          <thead>
            <tr>
              <th>Code</th>
              <th>Nombre</th>
              <th>Gerencia</th>
              <th>Estado</th>
              <th>Acciónes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a>OR9842</a></td>
              <td>Call of Duty IV</td>
              <td>Call of Duty IV</td>
              <td><span class="badge badge-success">Activo</span></td>
              <td>
                <div class="sparkbar" data-color="#00a65a" data-height="20">X</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.table-responsive -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
      <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-left">Anterior</a>
      <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">Siguiente</a>
    </div>
    <!-- /.card-footer -->
  </div>
