<div class="card ">
  <div class="card-header">
    <h3 class="card-title">Crear usuario</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
          <i class="fas fa-times"></i>
        </button> -->
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nombre">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Correo">
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Contraseña">
          </div>
        </div>
        <div class="col-sm-3">
          <!-- select -->
          <div class="form-group">
            <select class="form-control">
              <option value="">Rol</option>
              <option>ADMIN</option>
              <option>USER</option>
              <option>SUPERVISOR</option>
              <option>GERENTE</option>
            </select>
          </div>
        </div>

      </div>

    </form>
  </div>
  <!-- /.card-body -->
</div>

<!--Table-->
<div class="card">
  <div class="card-header border-transparent">
    <h3 class="card-title">Usuarios</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
          <i class="fas fa-times"></i>
        </button> -->
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table m-0">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Acciónes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a>OR9842</a></td>
            <td>Call of Duty IV</td>
            <td><span class="badge badge-success">Shipped</span></td>
            <td>
              <div class="sparkbar" data-color="#00a65a" data-height="20">90,80,90,-70,61,-83,63</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.card-body -->
  <div class="card-footer clearfix">
    <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-left">Anterior</a>
    <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">Siguiente</a>
  </div>
  <!-- /.card-footer -->
</div>